.App {
    text-align: center;
    /* background-color: rgb(98, 69, 151); */
    height: 100%;
    color: white;
}

body {
    background-color: rgb(98, 69, 151);

}



a {
    color: white;
    /* padding-left: 1em;
    padding-right: 1em; */
    text-decoration: none;
}

.nav-link, .movie-link {
    padding-left: 1em;
    padding-right: 1em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgb(98, 69, 151);
    margin: 1.5em;
}

.nav-link:hover, .movie-link:hover {
    background-color: rgb(135, 96, 207);
}


#logout {
    background-color: rgb(69, 49, 105);
    border: 2px solid rgb(98, 69, 151);
    ;
    color: white;
    font-size: 15px;
}

.button {
    color: white;
    padding: 1em;
    border: 2px solid rgb(98, 69, 151);
    border-radius: 5px;
    background-color: rgb(69, 49, 105);
    font-size: 1em;
}

.button:hover {
    background-color: rgb(135, 96, 207);
}

.button1 {
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    border: 2px solid rgb(98, 69, 151);
    background-color: rgb(69, 49, 105);
    font-size: 1em;
    margin: 1em;
}

.button1:hover {
    background-color: rgb(135, 96, 207);
    cursor: pointer;
}



form {
    margin: auto;
    border-radius: 10px;
    /* background-color: rgb(69, 49, 105);
     */
    background-color: white;
    ;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    /* height: 12vh; */
    /* width: 71%; */
    margin-left: 20%;
    margin-right: 20%;

}

input {
    border-radius: 5px;
}


.popup-content {
    background-color: rgb(69, 49, 105)!important;
    width: 50% !important;
    border: none !important;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {

    .nav-container {
        width: auto;
    }

}