.preferences {
    margin: auto;
    border: 2px solid rgb(135, 96, 207);
    border-radius: 10px;
    width: 80%;
}

.genre-container {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 1em;
    /* border: 2px solid rgb(135, 96, 207); */
    border-radius: 10px;
    width: 80%;
    margin-top: 1em;
}

.updatePreferences{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
}

.genre:hover {
    background-color: rgb(135, 96, 207);
    border-radius: 5px;
}

.genre {
    padding: 0.5em;
}

.genre:hover {
    cursor: copy;
}

.genre2 {
    padding: 0.5em;
}

.genre2:hover {
    cursor: not-allowed;
}

.gPreferences{
    display: grid;
    grid-template-columns: 1fr 1fr;
}