body {
  text-align: center;
  background-color: rgb(98, 69, 151);
  height: 100%;
  color: white;
}

/* form {
margin-top: 20vh;
border-radius: 5px;
background-color: #f2f2f2;
padding: 5%;
height: 12vh;
width: 71%;
margin-left:10%;
} */
input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input:focus {
  background-color: lightblue;
}

button:hover {
  background-color: lightblue;

}

#rt {
  font-variant: small-caps;
  font-size: 5vw;
}

@media screen and (max-width: 890px) {
  form {
    width: auto;
    justify-content: center;
  }
}