.preferenced-movies, .top-movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    background-color: rgb(69, 49, 105);
    border: 2px solid rgb(135, 96, 207);
    border-radius: 10px;
    width: 80%;
}

.prefmessage {
    grid-column: 1 / 5;
}

.movie {
    margin: .5em;
    padding: .5em;
    border-radius: 10px;
    border: 2px solid rgb(87, 60, 136);
    /* background-color: rgb(69, 49, 105); */
}
.movie:hover {
    background-color: rgb(135, 96, 207);
}

.movie2{
    margin: .5em;
    padding: .5em;
    border-radius: 10px;
    border: 2px solid rgb(87, 60, 136);
}

.movie:active {
    background-color: rgb(162, 115, 250);
}
img {
    height: 20vh;
    border-radius: 10px
}

/* .text {
    background-color: rgb(135, 96, 207);
    border-radius: 5px;
} */