.popular-movies, .start-soon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* text-align: center; */

    margin: 1em;
    border: 2px solid rgb(135, 96, 207);
    border-radius: 10px;
}

.movie {
    margin: 1em;
    border-radius: 10px;
}
.movie:hover {
    background-color: rgb(135, 96, 207);
}

img {
    height: 20vh;
    border-radius: 10px
}