body {
    text-align: center;
    background-color: rgb(98, 69, 151);
    height: 100%;
    color: white;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
  
  input:focus {
    background-color: lightblue;
  }

  button:hover {
    background-color: lightblue;

  }
  

#rt{
  font-variant: normal;
  font-size: 5vw;
}