.video-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;

}

h1{
	width: 100%;
}

.videoScreen{
	width: 80%;
	height: 50vh;
}

.chatBox{
	width: 80%;
	margin-top: 5vh;
	height: 25vh;
}

.nextShow{
	background-color: black;
}

iframe {
	height: 100%;
	width: 100%;
}